/* Provide sufficient contrast against white background */

.booking-row {
  padding: 15px;
  border-bottom: 1px solid gainsboro;
}

.booking-item {
  display: flex;
  column-gap: 10%;
  margin: 10px 0;
  align-items: center;
}

.booking-title {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
}

.time-slot {
  font-style: italic;
}

.username {
  font-weight: 500;
  margin: 0 5px;
}
button {
  background-color: teal;
  color: #fff;
  padding: 6px 12px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  max-width: fit-content;
}

button:focus {
  outline: none;
}
.changebooking {
  display: flex;
  justify-content: center;
  width: 50%;
}

.changebookingcontainer {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  flex-grow: 1;
}

.updatebooking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}
.btn-warning{
  min-width: 141px;
}



input{
margin: 0 5px 0 25px;
}